/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #b1b8bf;
  --border-color: #777;
  --border-radius: 1rem;
  --text-color: #111;
  --link-text-color: #333;
  --link-text-color-hover: #555;
  --window-bg-color: #edf6ff;
  --button-bg-color-hover: #c9d1d8;
  --button-bg-color-active: #bdc4cc;
  --button-border-radius: 0.25rem;
  --interactive-padding: 0.25rem 0.5rem;
  --warning-color: #773333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

a {
  color: var(--link-text-color);
  text-decoration: underline;

  &:hover {
    color: var(--link-text-color-hover);
    text-decoration: underline;
  }
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.125;
}
